@import '../pages/variables';
@import '../pages/mixins';

.container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  grid-gap: 50px;

  @include for-size(tablet-landscape-down) {
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-gap: 25px;
  }

  @include for-size(tablet-portrait-down) {
    grid-gap: 15px;
  }
}

.title {
  @include font(title);
  font-size: 36px;
  grid-row: 1;
  grid-column: 1 / span 3;
  justify-self: center;
  margin: 10px 0;

  @include for-size(tablet-landscape-down) {
    font-size: 26px;
  }
}

.video {
  border-radius: 15px;
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  cursor: pointer;

  &:hover + .player {
    transform: scale(1.2);
  }

  @include for-size(tablet-landscape-down) {
    grid-row: 3;
    grid-column: 1 / -1;
  }
}

.player {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  transition: transform 250ms;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  @include for-size(tablet-landscape-down) {
    grid-row: 3;
    grid-column: 1 / -1;
  }
}

.content {
  color: $placeholder;
  margin: 0 0 10px 0;
  font-size: 16px;
  justify-self: center;
  align-self: center;

  @include for-size(tablet-landscape-down) {
    grid-row: 2;
    grid-column: 1 / -1;
    text-align: center;
  }
}
