@import '../pages/mixins';

.container {
  width: 100%;
  max-width: 64rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @include media(md) {
    max-width: 48rem;
  }
}
