@import '../pages/variables';
@import '../pages/mixins';

.background {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  @include for-size(desktop-down) {
    background-image: none !important;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content auto;
  grid-column-gap: 80px;

  @include for-size(desktop-down) {
    padding-top: 80px;
    grid-template-columns: auto 300px;
    grid-template-rows: auto;
    grid-column-gap: 0;
  }

  @include for-size(tablet-landscape-down) {
    grid-template-columns: 1fr;
  }
}

.h1 {
  @include font(title);
  display: flex;
  flex-direction: column;
  font-size: 36px;
  margin: 0 0 47px;
  grid-row: 2;
  grid-column: 1;

  @include for-size(desktop-down) {
    align-self: center;
    margin: 0;
    grid-row: 1;
    grid-column: 1;
  }

  @include for-size(tablet-landscape-down) {
    text-align: center;
    font-size: 26px;
    line-height: 34px;
  }
}

.h1sub {
  @include font(text);
  font-size: 16px;
  margin-top: 13px;

  @include for-size(desktop-down) {
    margin: 0;
  }
}

.form {
  grid-row: 3;
  grid-column: 1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 175px;

  @include for-size(desktop-down) {
    grid-row: 4;
    grid-column: 1 / span 2;
  }

  @include for-size(tablet-landscape-down) {
    grid-template-columns: auto 150px;
  }

  @include for-size(tablet-portrait-down) {
    grid-template-columns: auto 100px;
  }
}

.input {
  border: none;
  padding: 28px 23px;
  border-radius: 3px 0 0 3px;
  font-size: 16px;
  width: 100%;
  height: 72px;
  grid-row: 1;
  grid-column: 1;

  @include for-size(tablet-landscape-down) {
    height: 50px;
    padding: 20px;
  }
}

.button {
  @include font(title);
  font-weight: 600;
  color: $white;
  background: $secondary;
  border: none;
  height: 72px;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 28px 40px;
  border-radius: 0 10px 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  grid-row: 1;
  grid-column: 2;

  @include for-size(tablet-landscape-down) {
    height: 50px;
    padding: 20px;
  }
}

.h2 {
  @include font(title);
  grid-row: 1;
  grid-column: 2;
  font-size: 80px;
  margin: 0;
  display: grid;
  grid-template-rows: 100px min-content;
  grid-template-columns: min-content min-content min-content auto;

  @include for-size(desktop-down) {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
  }

  @include for-size(tablet-landscape-down) {
    font-size: 50px;
    margin-top: 15px;
    grid-template-rows: 60px min-content;
    grid-template-columns: auto min-content min-content min-content auto;
    text-align: center;
    grid-row: 2;
    grid-column: 1;
  }
}

.h2amount {
  grid-row: 1;

  @include for-size(tablet-landscape-down) {
    grid-column: 2;
  }
}

.h2slash {
  @include font(text);
  font-size: 16px;
  font-weight: normal;
  padding-top: 28px;
  margin: 0 8px;
  grid-row: 1;

  @include for-size(tablet-landscape-down) {
    padding-top: 15px;
    grid-column: 3;
  }
}

.h2unit {
  @include font(text);
  padding-top: 23px;
  font-size: 20px;
  font-weight: normal;
  grid-row: 1;

  @include for-size(tablet-landscape-down) {
    padding-top: 10px;
    grid-column: 4;
  }
}

.h2sub {
  @include font(text);
  font-size: 19px;
  margin-bottom: 40px;
  grid-row: 2;
  grid-column: 1 / span 4;

  @include for-size(desktop-down) {
    margin: 0;
  }

  @include for-size(tablet-landscape-down) {
    font-size: 16px;
    grid-column: 1 / span 5;
  }
}

.screenshot {
  width: 100%;
  border-radius: 10px;
  border: 10px solid $black;
  grid-row: 2 / span 3;
  grid-column: 2;
  box-shadow: 0 42px 74px 0 rgba(0, 0, 0, 0.34);

  @include for-size(desktop-down) {
    margin: 25px auto;
    width: 80%;
    grid-row: 3;
    grid-column: 1 / span 2;
  }
}
