@import '../pages/variables';
@import '../pages/mixins';

.container {
  grid-column: 1;
  grid-row: 1;
  margin-top: 50px;

  @include for-size(desktop-down) {
    margin-top: 25px;
  }

  @include for-size(tablet-portrait-down) {
    margin-top: 15px;
  }
}

.nav {
  display: grid;
  grid-template-columns: auto repeat(4, max-content);
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-column-gap: 50px;

  @include for-size(tablet-landscape-down) {
    grid-column-gap: 30px;
  }

  @include for-size(tablet-portrait-down) {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    border-bottom: 1px solid $secondary;
  }
}

.logo {
  grid-column: 1;
  grid-row: 1;
  align-self: center;

  @include for-size(tablet-portrait-down) {
    display: none;
  }
}

.link {
  align-self: center;
  font-weight: 400;
  padding: 14px 0;
  font-size: 16px;
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include for-size(tablet-portrait-down) {
    justify-self: center;
  }
}

.button {
  @include font(title);
  align-self: center;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 2px;
  line-height: 18px;
  padding: 16px 40px;
  font-size: 12px;
  color: $button-text;
  background: $secondary;
  text-transform: uppercase;
  text-decoration: none;

  @include for-size(tablet-landscape-down) {
    display: none;
  }
}
