@mixin font($name) {
  font-variant-ligatures: none;

  @if $name == 'title' {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  } @else if $name == 'text' {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
  } @else {
    @error "Unknown font #{$name}."
  }
}

@mixin no-hover {
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }
}

@mixin media($size) {
  @if $size == sm {
    @media (max-width: 575px) {
      @content;
    }
  }

  @if $size == md {
    @media (max-width: 1199px) {
      @content;
    }
  }
}
