@mixin font($name) {
  font-variant-ligatures: none;

  @if $name == 'title' {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  } @else if $name == 'text' {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
  } @else {
    @error "Unknown font #{$name}."
  }
}

@mixin no-hover {
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }
}

@mixin for-size($size) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $size == tablet-portrait-down {
    @media (max-width: $phone-upper-boundary) {@content;}
  } @else if $size == tablet-landscape-down {
    @media (max-width: $tablet-portrait-upper-boundary) {@content;}
  } @else if $size == desktop-down {
    @media (max-width: $tablet-landscape-upper-boundary) {@content;}
  }
}
